Service:
  annotations: {}
  labels: {}
  # name fullname 功能一致，但 fullnane 会覆盖 name
  # 优先级 fullname > name
  name: string
  fullname: string
  namespace: string
  allocateLoadBalancerNodePorts: bool
  clusterIP: string
  clusterIPs: []
  externalIPs: []
  externalName: string
  externalTrafficPolicy: string # Cluster | Local
  healthCheckNodePort: int
  internalTrafficPolicy: string # Cluster | Local
  ipFamilies: [] # IPv4 | IPv6
  ipFamilyPolicy: string # SingleStack | PreferDualStack | RequireDualStack
  loadBalancerClass: string
  # Deprecated
  loadBalancerIP: string
  loadBalancerSourceRanges: []
  # 格式
  #   [nodePort:]port[:targetPort][/protocol][@appProtocol][#name]
  ports: []
  publishNotReadyAddresses: bool
  # 是否忽略 selector
  #   如果 ignoreSelector = true 则会创建 "无选择算符的 Service"
  ignoreSelector: bool
  selector: {}
  sessionAffinity: string # ClientIP | None
  # 范围 1 - 86400 单位: 秒
  sessionAffinityConfig: int
  trafficDistribution: string # PreferClose | PreferSameZone | PreferSameNode
  type: string # ExternalName | ClusterIP | NodePort | LoadBalancer
